<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeans de pierna</title>
    <link rel="stylesheet" href="../src/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
</head>
<body>
    
    <div class="contenedor-imagen-producto">
        <div class="imagen-slider">
            <img src="../src/storage/images/pant1.jpg" alt="Imagen 1">
            <img src="../src/storage/images/pant2.jpg" alt="Imagen 2">
            <img src="../src/storage/images/pant3.jpg" alt="Imagen 3">
        </div>
        <a href="home.html">
            <button class="boton-regresar">
                <i class="fa-solid fa-chevron-left" style="color: #B197FC;"></i>
            </button>
        </a>
        <button class="boton-favorito"><i class="fa-solid fa-heart" style="color: #B197FC;"></i></button>
    </div>
    
    <h1 class="titulo-producto">Jeans de pierna recta Washed Revenge para hombre</h1>
    
    <div class="calificacion">
        <span class="estrellas">★★★★★</span>
        <span class="numero-reseñas">5.0 (7,932 reseñas)</span>
    </div>
    
    <p class="descripcion-producto">
        <input type="checkbox" id="toggle-texto" class="toggle-texto">
        <span class="texto">
            Estilo: Casual/Callejero/Hip Pop/Punk/Grunge/Vintage<br>
            Color: Negro<br>
            Material principal: Mezcla de algodón<br>
            Tipo de ajuste: Ajuste normal...
        </span>
        <span class="texto texto-completo">
            <br>- Estilo versátil: Estos lavados oscuros los jeans son perfectos para un estilo casual, streetwear, hip-hop, punk, grunge y vintage.<br>
            - Diseño clásico: los jeans tienen una forma regular de pierna recta, lo que los convierte en un complemento atemporal y esencial para cualquier guardarropa.<br>
            - Material de alta calidad: Confeccionados con tela de mezcla de algodón, estos jeans son cómodos y duraderos.<br>
            - Características convenientes: Los jeans incluyen 5 bolsillos clásicos y cierre con cremallera y botón, lo que brinda funcionalidad y practicidad al diseño.
        </span>
        <label for="toggle-texto" class="boton-leer-mas">Leer Más...</label>
        <label for="toggle-texto" class="boton-leer-menos">Leer Menos</label>
    </p>
    
    
    
    <div class="contenedor-opciones">
        <div class="grupo-opciones">
            <div class="titulo-opcion">Elige Talla</button>
            <div class="opciones-talla">
                <button class="opcion-talla">S</button>
                <button class="opcion-talla">M</button>
                <button class="opcion-talla seleccionada">L</button>
                <button class="opcion-talla">XL</button>
            </div>
        </div>
        
        <div class="grupo-opciones">
            <div class="titulo-opcion">Color</div>
            <div class="opciones-color">
                <button class="opcion-color"></button>
            </div>
        </div>
    </div>
    
    <div class="selector-cantidad">
        <button class="boton-cantidad">-</button>
        <div class="cantidad">1</div>
        <button class="boton-cantidad">+</button>
    </div>
    
    <div class="añadir-carrito">
        <a href="checkout.html">
            <button class="boton-añadir-carrito">
                <span>🛒</span>
                <span>Añadir al Carrito | $20.08€</span>
                <span class="precio-original">56.22€</span>
            </button>
        </a>
    </div>
    
</body>
</html>