<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Moda</title>
    <link rel="stylesheet" href="../src/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="welcome">
                <div>
                    <span>HeLlO-WeLcOmE 👋</span>
                    <h2>Lau Figueroa</h2>
                </div>
            </div>
            <div class="profile-pic">
                <img src="../src/storage/images/perfil.jpg" alt="Profile Picture">
            </div>
        </div>
        <div class="search-bar">
            <div class="search-input">
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass" style="color: #B197FC;"></i> </i></span>
                <input type="text" placeholder="  Search clothes...">
            </div>
            <div class="options-button">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
        <div class="categories-wrapper">
            <div class="categories">
                <button class="category active"><i class="fa-solid fa-border-all"></i> All Items</button>
                <button class="category"> <i class="fa-solid fa-person-dress" style="color: #B197FC;"></i> Dress</button>
                <button class="category"><i class="fa-solid fa-shirt" style="color: #B197FC"></i> T-Shirt</button>
                <button class="category">Pants</button>
            </div>
        </div>
        <div class="products-grid">
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/pant-black-1.jpg" alt="Modern Light Clothes">
                    <img class="hover-img" src="../src/storage/images/pant2-black.jpg" alt="Modern Light Clothes">
                </div>
                <div class="product-info">
                    <div class="product-title">Jeans de pierna recta <br>Washed Revenge <br> para hombre</div>
                    <div class="product-span">
                        <span class="price">Pants</span>
                    </div>
                    <div class="product-price">
                        <span class="price">20.08€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">4.9</span>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/jacket1.jpg" alt="Light Dress Bless">
                    <img class="hover-img" src="../src/storage/images/jacket2.jpg" alt="Light Dress Bless">
                </div>
                <div class="product-info">
                    <div class="product-title">Light Dress Bless</div>
                    <div class="product-span">
                        <span class="price">Jackets</span>
                    </div>
                    <div class="product-price">
                        <span class="price">1.417€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">4.7</span>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/short1.jpg" alt="Winter Hoodie">
                    <img class="hover-img" src="../src/storage/images/short2.jpg" alt="Winter Hoodie">
                </div>
                <div class="product-info">
                    <div class="product-title">Black on Black Short</div>
                    <div class="product-span">
                        <span class="price">Shorts</span>
                    </div>
                    <div class="product-price">
                        <span class="price">19.99€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">4.5</span>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/buzo1.jpg" alt="Winter Hoodie">
                    <img class="hover-img" src="../src/storage/images/buzo2.jpg" alt="Winter Hoodie">
                </div>
                <div class="product-info">
                    <div class="product-title">Gengar zip up hoddie</div>
                    <div class="product-span">
                        <span class="price">Jackets</span>
                    </div>
                    <div class="product-price">
                        <span class="price">39.99€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">4.2</span>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/campera1.jpg" alt="Winter Hoodie">
                    <img class="hover-img" src="../src/storage/images/campera2.jpg" alt="Winter Hoodie">
                </div>
                <div class="product-info">
                    <div class="product-title">Chaleco The Noth Face <br> Black</div>
                    <div class="product-span">
                        <span class="price">Jackets</span>
                    </div>
                    <div class="product-price">
                        <span class="price">189.99€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">0</span>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img class="default-img" src="../src/storage/images/pantcruz1.jpg" alt="Winter Hoodie">
                    <img class="hover-img" src="../src/storage/images/pantcruz2.jpg" alt="Winter Hoodie">
                </div>
                <div class="product-info">
                    <div class="product-title">Jeans de pierna recta <br>con diamantes de <br>imitación cruzados <br>para hombre</div>
                    <div class="product-span">
                        <span class="price">Pants</span>
                    </div>
                    <div class="product-price">
                        <span class="price">15.06€</span>
                    </div>
                    <div class="rating">
                        <span class="star">★</span>
                        <span class="rating-count">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <div class="nav-item active">
                <i class="fa-solid fa-home"></i>
            </div>
            <div class="nav-item">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="notification-dot"></span>
            </div>
            <div class="nav-item">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="nav-item">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        </div>
    </div>
</body>
</html>