<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Yino</title>
    <link rel="stylesheet" href="/src/css/welcome.css">
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="/src/storage/video/orslok - se que no debo (online-video-cutter.com).mp4" type="video/mp4">
            Tu navegador no soporta videos.
        </video>
        <div class="overlay"></div>
        <img src="/src/storage/images/retouch_2025030707523821.png" alt="Logo" class="logo">
        <div class="content">
            <div class="btn-container">
                <a href="home.html" class="btn">
                    <img src="/src/storage/images/retouch_2025030708360730.png" alt="Ingresar">
                    <span class="btn-text">Entra<br>aqui</span>
                </a>
            </div>           
        </div>
        <footer class="eslogan">DeSoRdEnA-tU-hUmAnIdAd</footer>
    </div>
</body>
</html>